* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body {
    background-color: #A5BEFA;
    font-family: "Montserrat", sans-serif;
    margin: 0;
}
header {
    padding: 10px 0; /* Adicione um padding ao header se necessário */
}

h1, p, .destaque_t {
    color: #F6F6F6;
}

.destaque_t {
    color: #B3093F;
}

.pai {
    margin: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    height: 100vh;
}

.textor {
    width: 615px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 28px;
}

.pz_titulo {
    font-size: 34px;
    font-family: "Krona One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.pz_texto {
    font-size: 22px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.button {
    display: flex;
    padding: 10px 20px;
    color: #F6F6F6;
    border-width: 2px;
    border-color: #B3093F;
    border-style: solid;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 6px;
    width: 378px;
    text-decoration: none;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #B3093F;
}
.apresentação_titulo_link {
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #F6F6F6;
}
footer{
    background-color: #B3093F;
}
.rodape {
    padding: 24px;
    text-align: center;
    font-size: 22px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #ffffff;
}
.menu {
    display: flex;
    padding: 10px 5%;
    flex-direction: row;
    cursor: pointer;
    margin-left: 12%;
    gap: 100px;
    font-size: 24px;
}
.menu1{
    text-decoration: none;
    color: #B3093F;
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-style: normal;
}